@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
body {
    font-family: 'poppins', sans-serif;
    background: url('img/Imageback.jpg') center/cover no-repeat;
    margin: 0;
    padding: 0;
    color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    color: #333;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #45a049;
}